venv/
.venv/
env/


# Python
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
logs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env.local
frontend/.env.*.local

# Source Guidelines
data/guidelines/*.pdf

# Chromadb
data/chroma/chroma_db/
